extends ../layout/shell
block content
  section.jumbotron.full-vh.relative
    .container-xs-height.full-height.z-index-1
      .col-xs-height.col-middle.text-left
        // BEGIN CONTENT
        .inner.full-height
          .container-xs-height.full-height
            .col-xs-height.col-middle.text-center
              .container
                .row
                  .col-md-6.col-md-offset-3
                    h1.light.text-white.m-t-5(data-swiper-parallax='-15%')
                      | A new Beginning
        // END CONTENT
    .op-left.bottom-right.full-width.full-vh.z-index-1(data-vide-bg='assets/video/hero.mp4', data-vide-options='loop: true, muted: false, position: 50% 0%')
    .bottom-right.full-width.full-vh.z-index-1.hidden.demo-video-placeholder(data-pages-bg-image='assets/images/Screenshot.jpg')
    a#start_tour.btn.btn-lg.btn-black.demo-btn-tour.font-montserrat.all-caps.no-border.fs-13(href='#') Start tour
    .video-overlay.z-index-1
