extends ../layout/shell

block content
  section.p-b-20.p-t-100
      .container.text-center
        .row
          .col-sm-8.col-sm-offset-2
            h6.block-title.m-b-0 Discover
            h1.m-t-5.light The app that changes everything!
            p.m-t-20
              | Our long standing vision has been to bypass the usual admin dashboard structure and move forward with a sophisticated yet simple framework.
  
    section.p-b-60.p-t-60.sm-p-b-30
      .container
        .row
          .col-sm-3.col-lg-4.text-right.xs-text-left.xs-m-b-30.vcenter
            .m-b-50
              h5.block-title.p-b-5 Limitless Possibilities
              p
                | Our long standing vision has been to bypass the usual admin dashboard structure and move forward with a sophisticated yet simple framework
            .m-b-50
              h5.block-title.p-b-5 Create Wonders
              p
                | Our long standing vision has been to bypass the usual admin dashboard structure and move forward with a sophisticated yet simple framework
          .col-sm-6.col-lg-4.sm-p-t-30.text-center.xs-m-b-40
            // START DEVICE MORPH
            .device_morph(data-pages='auto-scroll')
              // START DEVICE IMAGE
              img.xs-image-responsive-height.image-responsive-width(alt='', src='assets/images/b_phone.png')
              // START DEVICE SCREEN
              .screen
                // START SCREEN DEMO BORDER
                .iphone-border
                  // START SCREEN PREVIEW
                  img.image-responsive-height(src='assets/images/screenx2.jpg', alt='')
          .col-sm-3.col-lg-4.vcenter.sm-p-t-30
            .m-b-50
              h5.block-title.p-b-5 Lauch Your Design
              p
                | Our long standing vision has been to bypass the usual admin dashboard structure and move forward with a sophisticated yet simple framework
            .m-b-50
              h5.block-title.p-b-5 Responsivess
              p
                | Our long standing vision has been to bypass the usual admin dashboard structure and move forward with a sophisticated yet simple framework
